<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <title>Juice WRLD | Spotify</title>
</head>
<body>
    <nav>
        <img src="../img/logo.png">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="https://open.spotify.com/intl-es/artist/4MCBfE4596Uoi2O4DtmEMz">Categorías</a></li>
            <input type="search" placeholder="Buscar">
        </ul>
    </nav>

    <main>
        <div class="banner">
            <div class="banner-items">
                <div class="verifed">
                    <img src="../img/verifed.webp" width="20px">
                    <span>Artista verificado</span>
                </div>
            
                <div>
                    <h1>Juice WRLD</h1>
                    <span>31.807.593 oyentes mensuales</span>
                </div>
            </div>
        </div>

        <div class="play-line">
            <a href="#"><img class="play-btn" src="../img/play-btn.png"></a>
            <button>Seguir</button>
            <img src="../img/rods.png" width="30px" style="cursor: pointer;">
        </div>
        <div class="pop-title">
            <h2>Populares</h2>
        </div>
        <div class="content">
            <table class="canciones">
                <tr>
                    <td>1</td>
                    <td><img src="../img/GoodBye.jpg"></td>
                    <td><a href="#">Lucid Dreams</a></td>
                    <td>2.823.967.881</td>
                    <td>3:59</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="../img/GoodBye.jpg"></td>
                    <td><a href="#">All Girls Are The Same</a></td>
                    <td>1.874.434.687</td>
                    <td>2:45</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td><img src="../img/NeverEnds.jpg"></td>
                    <td><a href="#">Empty Out Your Pockets</a></td>
                    <td>113.721.468</td>
                    <td>2:15</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="../img/Robbery.jpg"></td>
                    <td><a href="#">Robbery</a></td>
                    <td>1.429.243.652</td>
                    <td>4:00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img src="../img/Robbery.jpg"></td>
                    <td><a href="#">Ransom (with Juice WRLD) - Remix</a></td>
                    <td>497.536.806</td>
                    <td>2:51</td>
                </tr>
            </table>
            <a href="#" class="see-more">Mostrar más</a>

            <div class="disc-line">
                <h2>Discografía</h2>
                <span><a href="#">Mostrar todos</a></span>
            </div>
            
            <div class="disc-btn">
                <button>Títulos populares</button>
                <button>Álbumes</button>
                <button>Sencillos y EP</button>
            </div>

            <div class="discografia">
                <div class="disco">
                    <img src="../img/NeverEnds.jpg">
                    <h3>The Party Never Ends 2.0</h3>
                    <p>Último lanzamiento · Álbum</p>
                </div>

                <div class="disco">
                    <img src="../img/GoodBye.jpg">
                    <h3>Goodbye & Good Riddance</h3>
                    <p>2018 · Álbum</p>
                </div>

                <div class="disco">
                    <img src="../img/legends.jpg">
                    <h3>Legends Never Die</h3>
                    <p>2020 · Álbum</p>
                </div>

                <div class="disco">
                    <img src="../img/Robbery.jpg">
                    <h3>Death Race For Love</h3>
                    <p>2019 · Álbum</p>
                </div>

                <div class="disco">
                    <img src="../img/demon.jpg">
                    <h3>Fighting Demons (Deluxe)</h3>
                    <p>2022 · Álbum</p>
                </div>

            </div>

            <div class="biografia">
                <h2>Biografía</h2>
            </div>

        </div>
    </main>

    <footer>

    </footer>
</body>
</html>